@import "tailwindcss";

@layer base {
  :root {
    --bg: theme(colors.slate.950);
    --surface: theme(colors.slate.900);
    --border: theme(colors.slate.800);
    --text-primary: theme(colors.slate.100);
    --text-secondary: theme(colors.slate.300);
    --accent: theme(colors.teal.400);

    body {
      background-color: var(--bg);
      color: var(--text-primary);
    }

    .card {
      background-color: var(--surface);
      border-color: var(--border);
    }

    a:hover {
      background-color: 1px solid var(--accent);
      transition: border 0.5s ease-in-out;
    }
  }
}

/*
* {
  border: 1px solid pink !important
}
*/