@import "tailwindcss";

@layer base {
  :root {
    --bg: theme(colors.slate.950);
    --bg-hover: theme(colors.slate.900);
    --surface: theme(colors.slate.900);
    --surface-hover: theme(colors.slate.800);
    --border: theme(colors.slate.800);
    --text-primary: theme(colors.slate.100);
    --text-secondary: theme(colors.slate.300);
    --accent: theme(colors.teal.400);

    --radius: 16px;
  }

  body {
    background-color: var(--bg);
    color: var(--text-primary);
  }
}

/*
* {
  border: 1px solid pink !important
}
*/